## Papers
- [Video Summarization Using Deep Neural
Networks: A Survey](https://arxiv.org/pdf/2101.06072.pdf)
- [CLIP-It! Language-Guided Video Summarization](https://proceedings.neurips.cc/paper/2021/file/7503cfacd12053d309b6bed5c89de212-Paper.pdf)
- [DSnet](https://github.com/li-plus/DSNet)
- [DSnet paper](https://liplus.me/publication/dsnet/dsnet.pdf)
- [PGL-SUM: 2021, top 1 model](https://github.com/e-apostolidis/PGL-SUM)

In [1]:
import os
import shutil

import pandas as pd
import numpy as np

In [2]:
DATASET_PATH = '/home/mark/PycharmProjects/video_summarization/datasets'

# TVSum dataset

In [3]:
tvsum_path = os.path.join(DATASET_PATH, 'tvsum', 'ydata-tvsum50-v1_1')
tvsum_data_path = os.path.join(tvsum_path, 'data')

df_anno = pd.read_csv(os.path.join(tvsum_data_path, 'ydata-tvsum50-anno.tsv'), sep='\t', header=None)
df_anno.columns = ['video_id', 'category', 'annotation']
df_anno['annotation'] = df_anno['annotation'].str.split(',').map(lambda x: [int(i) for i in x])

df_info = pd.read_csv(os.path.join(tvsum_data_path, 'ydata-tvsum50-info.tsv'), sep='\t')

In [4]:
df_anno.head()

      video_id category                                         annotation
0  AwmHb44_ouw       VT  [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...
1  AwmHb44_ouw       VT  [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...
2  AwmHb44_ouw       VT  [3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ...
3  AwmHb44_ouw       VT  [4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ...
4  AwmHb44_ouw       VT  [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ...

In [5]:
df_info.head()

,category,video_id,title,url,length
0,VT,AwmHb44_ouw,#1306 How to change tires for off road vehicle...,https://www.youtube.com/watch?v=AwmHb44_ouw,5:54
1,VT,98MoyGZKHXc,How to use a tyre repair kit - Which? guide,https://www.youtube.com/watch?v=98MoyGZKHXc,3:07
2,VT,J0nA4VgnoCo,#0001: FLAT TIRE,https://www.youtube.com/watch?v=J0nA4VgnoCo,9:44
3,VT,gzDbaEs1Rlg,ŠKODA Tips How to Repair Your Tyre,https://www.youtube.com/watch?v=gzDbaEs1Rlg,4:48
4,VT,XzYM3PfTM4w,When to Replace Your Tires GMC,https://www.youtube.com/watch?v=XzYM3PfTM4w,1:51

In [6]:
category_map = {
        'VT': 'Changing Vehicle Tire',
        'VU': 'Getting Vehicle Unstuck',
        'GA': 'Grooming an Animal',
        'MS': 'Making Sandwich',
        'PK': 'Parkour',
        'PR': 'Parade',
        'FM': 'Flash Mob Gathering',
        'BK': 'Bee Keeping',
        'BT': 'Attempting Bike Tricks',
        'DS': 'Dog Show',
}

df_info['category'] = df_info['category'].map(category_map)
df_anno['category'] = df_anno['category'].map(category_map)
df_info.head()

,category,video_id,title,url,length
0,Changing Vehicle Tire,AwmHb44_ouw,#1306 How to change tires for off road vehicle...,https://www.youtube.com/watch?v=AwmHb44_ouw,5:54
1,Changing Vehicle Tire,98MoyGZKHXc,How to use a tyre repair kit - Which? guide,https://www.youtube.com/watch?v=98MoyGZKHXc,3:07
2,Changing Vehicle Tire,J0nA4VgnoCo,#0001: FLAT TIRE,https://www.youtube.com/watch?v=J0nA4VgnoCo,9:44
3,Changing Vehicle Tire,gzDbaEs1Rlg,ŠKODA Tips How to Repair Your Tyre,https://www.youtube.com/watch?v=gzDbaEs1Rlg,4:48
4,Changing Vehicle Tire,XzYM3PfTM4w,When to Replace Your Tires GMC,https://www.youtube.com/watch?v=XzYM3PfTM4w,1:51

In [7]:
df_info['category'].value_counts()

Changing Vehicle Tire      5
Getting Vehicle Unstuck    5
Grooming an Animal         5
Making Sandwich            5
Parkour                    5
Parade                     5
Flash Mob Gathering        5
Bee Keeping                5
Attempting Bike Tricks     5
Dog Show                   5
Name: category, dtype: int64

In [8]:
df_info[df_info['category'] == 'Grooming an Animal']

,category,video_id,title,url,length
10,Grooming an Animal,i3wAGJaaktw,"Pet Joy Spa Grooming Services | Brentwood, CA ...",https://www.youtube.com/watch?v=i3wAGJaaktw,2:36
11,Grooming an Animal,Bhxk-O1Y7Ho,Vlog #509 I'M A PUPPY DOG GROOMER! September 1...,https://www.youtube.com/watch?v=Bhxk-O1Y7Ho,7:30
12,Grooming an Animal,0tmA_C6XwfM,Nail clipper Gloria Pets professional grooming,https://www.youtube.com/watch?v=0tmA_C6XwfM,2:21
13,Grooming an Animal,3eYKfiOEJNs,Dog Grooming in Buenos Aires,https://www.youtube.com/watch?v=3eYKfiOEJNs,3:14
14,Grooming an Animal,xxdtq8mxegs,How to Clean Your Dog's Ears - Vetoquinol USA,https://www.youtube.com/watch?v=xxdtq8mxegs,2:24

In [9]:
df_anno.head()

,video_id,category,annotation
0,AwmHb44_ouw,Changing Vehicle Tire,"[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ..."
1,AwmHb44_ouw,Changing Vehicle Tire,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."
2,AwmHb44_ouw,Changing Vehicle Tire,"[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, ..."
3,AwmHb44_ouw,Changing Vehicle Tire,"[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, ..."
4,AwmHb44_ouw,Changing Vehicle Tire,"[2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, ..."

In [10]:
df_anno.shape

(1000, 3)

In [11]:
df_anno['video_id'].value_counts()

AwmHb44_ouw    20
EE-bNr36nyA    20
z_6gVvQb2d0    20
fWutDQy1nnY    20
4wU_LUjG5Ic    20
VuWGsYPqAX8    20
JKpqYvAdIsw    20
xmEERLqJ2kU    20
byxOvuiIJV0    20
_xMr-HKMfVA    20
WxtbjNsCQ8A    20
uGu_10sucQo    20
Se3oxnaPsz0    20
98MoyGZKHXc    20
oDXZc0tZe04    20
qqR6AEXwxoQ    20
EYqVtI9YWJA    20
eQu1rNs0an0    20
JgHubY5Vw3Y    20
iVt07TCkFM0    20
E11zDS9XGzg    20
NyBmCxDoHJU    20
kLxoNp-UchI    20
jcoYJXDG9sw    20
RBCABdttQmI    20
91IHQYk1IQM    20
PJrm840pAUI    20
GsAD1KT1xo8    20
J0nA4VgnoCo    20
gzDbaEs1Rlg    20
XzYM3PfTM4w    20
HT5vyqe0Xaw    20
sTEELN-vY30    20
vdmoEJ5YbrQ    20
xwqBXPGE9pQ    20
akI8YFjEmUw    20
i3wAGJaaktw    20
Bhxk-O1Y7Ho    20
0tmA_C6XwfM    20
3eYKfiOEJNs    20
xxdtq8mxegs    20
WG0MBPpPC6I    20
Hl-__g2gn_A    20
Yi4Ij2NM7U4    20
37rzWOQsNIw    20
LRw_obCPUt0    20
cjibtmSLxQ4    20
b626MiF1ew4    20
XkqCExn6_Us    20
-esJrBWj2d8    20
Name: video_id, dtype: int64

In [12]:
df_anno['annotation'].str.len()

0      10597
1      10597
2      10597
3      10597
4      10597
       ...
995     6912
996     6912
997     6912
998     6912
999     6912
Name: annotation, Length: 1000, dtype: int64

In [13]:
df_anno.explode('annotation').groupby('video_id')['annotation'].mean()

video_id
-esJrBWj2d8    1.973155
0tmA_C6XwfM    2.041280
37rzWOQsNIw    2.012722
3eYKfiOEJNs    1.965794
4wU_LUjG5Ic    1.958489
91IHQYk1IQM    2.018735
98MoyGZKHXc    2.030173
AwmHb44_ouw    1.978079
Bhxk-O1Y7Ho    1.900111
E11zDS9XGzg    1.965424
EE-bNr36nyA    1.960354
EYqVtI9YWJA    1.991707
GsAD1KT1xo8    2.001768
HT5vyqe0Xaw    1.951613
Hl-__g2gn_A    1.943739
J0nA4VgnoCo    1.928668
JKpqYvAdIsw    2.019161
JgHubY5Vw3Y    1.946399
LRw_obCPUt0    1.960880
NyBmCxDoHJU    2.091498
PJrm840pAUI    1.920562
RBCABdttQmI    1.973986
Se3oxnaPsz0    1.968139
VuWGsYPqAX8    1.947136
WG0MBPpPC6I    1.986868
WxtbjNsCQ8A    1.929834
XkqCExn6_Us    1.993740
XzYM3PfTM4w    1.950406
Yi4Ij2NM7U4    1.910451
_xMr-HKMfVA    2.029431
akI8YFjEmUw    2.008636
b626MiF1ew4    2.011791
byxOvuiIJV0    2.129460
cjibtmSLxQ4    1.905498
eQu1rNs0an0    1.958193
fWutDQy1nnY    1.991656
gzDbaEs1Rlg    1.971623
i3wAGJaaktw    1.983777
iVt07TCkFM0    2.001560
jcoYJXDG9sw    1.956850
kLxoNp-UchI    2.042300
oDXZc0tZe04    1.990082
qqR6AEXwxoQ    1.918543
sTEELN-vY30    1.944338
uGu_10sucQo    1.945922
vdmoEJ5YbrQ    1.905871
xmEERLqJ2kU    1.943232
xwqBXPGE9pQ    2.009857
xxdtq8mxegs    1.979221
z_6gVvQb2d0    1.959908
Name: annotation, dtype: float64

In [14]:
df_anno['annotation'] = df_anno['annotation'].map(np.array)
label_df = df_anno.groupby('video_id')['annotation'].mean()
label_df = label_df / 5
label_df = label_df.reset_index()
label_df

       video_id                                         annotation
0   -esJrBWj2d8  [0.39, 0.39, 0.39, 0.39, 0.39, 0.39, 0.39, 0.3...
1   0tmA_C6XwfM  [0.22999999999999998, 0.22999999999999998, 0.2...
2   37rzWOQsNIw  [0.65, 0.65, 0.65, 0.65, 0.65, 0.65, 0.65, 0.6...
3   3eYKfiOEJNs  [0.38, 0.38, 0.38, 0.38, 0.38, 0.38, 0.38, 0.3...
4   4wU_LUjG5Ic  [0.39, 0.39, 0.39, 0.39, 0.39, 0.39, 0.39, 0.3...
5   91IHQYk1IQM  [0.33999999999999997, 0.33999999999999997, 0.3...
6   98MoyGZKHXc  [0.35, 0.35, 0.35, 0.35, 0.35, 0.35, 0.35, 0.3...
7   AwmHb44_ouw  [0.58, 0.58, 0.58, 0.58, 0.58, 0.58, 0.58, 0.5...
8   Bhxk-O1Y7Ho  [0.5900000000000001, 0.5900000000000001, 0.590...
9   E11zDS9XGzg  [0.32999999999999996, 0.32999999999999996, 0.3...
10  EE-bNr36nyA  [0.45999999999999996, 0.45999999999999996, 0.4...
11  EYqVtI9YWJA  [0.36, 0.36, 0.36, 0.36, 0.36, 0.36, 0.36, 0.3...
12  GsAD1KT1xo8  [0.35, 0.35, 0.35, 0.35, 0.35, 0.35, 0.35, 0.3...
13  HT5vyqe0Xaw  [0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.2...
14  Hl-__g2gn_A  [0.26, 0.26, 0.26, 0.26, 0.26, 0.26, 0.26, 0.2...
15  J0nA4VgnoCo  [0.27, 0.27, 0.27, 0.27, 0.27, 0.27, 0.27, 0.2...
16  JKpqYvAdIsw  [0.47000000000000003, 0.47000000000000003, 0.4...
17  JgHubY5Vw3Y  [0.38, 0.38, 0.38, 0.38, 0.38, 0.38, 0.38, 0.3...
18  LRw_obCPUt0  [0.49000000000000005, 0.49000000000000005, 0.4...
19  NyBmCxDoHJU  [0.36, 0.36, 0.36, 0.36, 0.36, 0.36, 0.36, 0.3...
20  PJrm840pAUI  [0.38, 0.38, 0.38, 0.38, 0.38, 0.38, 0.38, 0.3...
21  RBCABdttQmI  [0.27999999999999997, 0.27999999999999997, 0.2...
22  Se3oxnaPsz0  [0.38, 0.38, 0.38, 0.38, 0.38, 0.38, 0.38, 0.3...
23  VuWGsYPqAX8  [0.45999999999999996, 0.45999999999999996, 0.4...
24  WG0MBPpPC6I  [0.31, 0.31, 0.31, 0.31, 0.31, 0.31, 0.31, 0.3...
25  WxtbjNsCQ8A  [0.29, 0.29, 0.29, 0.29, 0.29, 0.29, 0.29, 0.2...
26  XkqCExn6_Us  [0.32999999999999996, 0.32999999999999996, 0.3...
27  XzYM3PfTM4w  [0.33999999999999997, 0.33999999999999997, 0.3...
28  Yi4Ij2NM7U4  [0.27999999999999997, 0.27999999999999997, 0.2...
29  _xMr-HKMfVA  [0.27, 0.27, 0.27, 0.27, 0.27, 0.27, 0.27, 0.2...
30  akI8YFjEmUw  [0.27, 0.27, 0.27, 0.27, 0.27, 0.27, 0.27, 0.2...
31  b626MiF1ew4  [0.51, 0.51, 0.51, 0.51, 0.51, 0.51, 0.51, 0.5...
32  byxOvuiIJV0  [0.43, 0.43, 0.43, 0.43, 0.43, 0.43, 0.43, 0.4...
33  cjibtmSLxQ4  [0.41, 0.41, 0.41, 0.41, 0.41, 0.41, 0.41, 0.4...
34  eQu1rNs0an0  [0.35, 0.35, 0.35, 0.35, 0.35, 0.35, 0.35, 0.3...
35  fWutDQy1nnY  [0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.2...
36  gzDbaEs1Rlg  [0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, ...
37  i3wAGJaaktw  [0.31, 0.31, 0.31, 0.31, 0.31, 0.31, 0.31, 0.3...
38  iVt07TCkFM0  [0.45, 0.45, 0.45, 0.45, 0.45, 0.45, 0.45, 0.4...
39  jcoYJXDG9sw  [0.27999999999999997, 0.27999999999999997, 0.2...
40  kLxoNp-UchI  [0.24, 0.24, 0.24, 0.24, 0.24, 0.24, 0.24, 0.2...
41  oDXZc0tZe04  [0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, ...
42  qqR6AEXwxoQ  [0.35, 0.35, 0.35, 0.35, 0.35, 0.35, 0.35, 0.3...
43  sTEELN-vY30  [0.58, 0.58, 0.58, 0.58, 0.58, 0.58, 0.58, 0.5...
44  uGu_10sucQo  [0.24, 0.24, 0.24, 0.24, 0.24, 0.24, 0.24, 0.2...
45  vdmoEJ5YbrQ  [0.44000000000000006, 0.44000000000000006, 0.4...
46  xmEERLqJ2kU  [0.27, 0.27, 0.27, 0.27, 0.27, 0.27, 0.27, 0.2...
47  xwqBXPGE9pQ  [0.42000000000000004, 0.42000000000000004, 0.4...
48  xxdtq8mxegs  [0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.25, 0.2...
49  z_6gVvQb2d0  [0.24, 0.24, 0.24, 0.24, 0.24, 0.24, 0.24, 0.2...

## SumMe

In [15]:
summe_path = os.path.join(DATASET_PATH, 'summe')
summe_video_path = os.path.join(DATASET_PATH, 'summe', 'video')
summe_ann_path = os.path.join(DATASET_PATH, 'summe', 'GT')

In [16]:
import scipy.io


res = {'video_id': [], 'annotation': []}

for mat_file in os.listdir(summe_ann_path):
    res['video_id'].append(mat_file.replace(' ', '_').split('.')[0].lower())
    
    mat = scipy.io.loadmat(summe_ann_path + '/' + mat_file)
    res['annotation'].append(mat['gt_score'].flatten())
    
    
label_summe_df = pd.DataFrame(res)
label_summe_df

,video_id,annotation
0,valparaiso_downhill,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
1,notre_dame,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,paintball,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,cockpit_landing,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,uncut_evening_flight,"[0.26666666666666666, 0.26666666666666666, 0.2..."
5,statue_of_liberty,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
6,eiffel_tower,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
7,bearpark_climbing,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
8,base_jumping,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
9,car_over_camera,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
10,st_maarten_landing,"[0.058823529411764705, 0.058823529411764705, 0..."
11,playing_ball,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.125, 0.125, 0.125,..."
12,car_railcrossing,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
13,paluma_jump,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
14,air_force_one,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
15,cooking,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
16,scuba,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.05882352..."
17,bus_in_rock_tunnel,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
18,fire_domino,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
19,excavators_river_crossing,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
20,kids_playing_in_leaves,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
21,jumps,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
22,playing_on_water_slide,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
23,bike_polo,"[0.2, 0.2, 0.2, 0.2, 0.06666666666666667, 0.06..."
24,saving_dolphines,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

## Union datasets

In [25]:
# Bugfix

label_summe_df['video_id'] = label_summe_df['video_id'].apply(lambda x: "_".join([y.capitalize() for y in x.split("_")]))

In [26]:
label_df['type'] = 'tvsum'
label_summe_df['type'] = 'summe'

result_df = pd.concat([label_df, label_summe_df])
result_df

,video_id,annotation,type
0,-esJrBWj2d8,"[0.39, 0.39, 0.39, 0.39, 0.39, 0.39, 0.39, 0.3...",tvsum
1,0tmA_C6XwfM,"[0.22999999999999998, 0.22999999999999998, 0.2...",tvsum
2,37rzWOQsNIw,"[0.65, 0.65, 0.65, 0.65, 0.65, 0.65, 0.65, 0.6...",tvsum
3,3eYKfiOEJNs,"[0.38, 0.38, 0.38, 0.38, 0.38, 0.38, 0.38, 0.3...",tvsum
4,4wU_LUjG5Ic,"[0.39, 0.39, 0.39, 0.39, 0.39, 0.39, 0.39, 0.3...",tvsum
...,...,...,...
20,Kids_Playing_In_Leaves,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",summe
21,Jumps,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",summe
22,Playing_On_Water_Slide,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",summe
23,Bike_Polo,"[0.2, 0.2, 0.2, 0.2, 0.06666666666666667, 0.06...",summe
24,Saving_Dolphines,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",summe

In [27]:
DATASET_PATH

'/home/mark/PycharmProjects/video_summarization/datasets'

In [28]:
result_df.to_parquet(os.path.join(DATASET_PATH, 'annotation.parquet'))

## Copy videos to video directory

In [34]:
!ls ../datasets/summe/videos/*.mp4

 ../datasets/summe/videos/Air_Force_One.mp4
'../datasets/summe/videos/Base jumping.mp4'
 ../datasets/summe/videos/Bearpark_climbing.mp4
'../datasets/summe/videos/Bike Polo.mp4'
 ../datasets/summe/videos/Bus_in_Rock_Tunnel.mp4
 ../datasets/summe/videos/car_over_camera.mp4
 ../datasets/summe/videos/Car_railcrossing.mp4
 ../datasets/summe/videos/Cockpit_Landing.mp4
 ../datasets/summe/videos/Cooking.mp4
'../datasets/summe/videos/Eiffel Tower.mp4'
'../datasets/summe/videos/Excavators river crossing.mp4'
'../datasets/summe/videos/Fire Domino.mp4'
 ../datasets/summe/videos/Jumps.mp4
 ../datasets/summe/videos/Kids_playing_in_leaves.mp4
 ../datasets/summe/videos/Notre_Dame.mp4
 ../datasets/summe/videos/Paintball.mp4
 ../datasets/summe/videos/paluma_jump.mp4
 ../datasets/summe/videos/playing_ball.mp4
 ../datasets/summe/videos/Playing_on_water_slide.mp4
'../datasets/summe/videos/Saving dolphines.mp4'
 ../datasets/summe/videos/Scuba.mp4
'../datasets/summe/videos/Statue of Liberty.mp4'
'../datasets/summe/videos/St Maarten Landing.mp4'
 ../datasets/summe/videos/Uncut_Evening_Flight.mp4
 ../datasets/summe/videos/Valparaiso_Downhill.mp4

In [35]:
!cp -r ../datasets/summe/videos/*.mp4 ../datasets/videos/

In [38]:
!ls ../datasets/tvsum/ydata-tvsum50-v1_1/video

0tmA_C6XwfM.mp4  EE-bNr36nyA.mp4  JgHubY5Vw3Y.mp4  VuWGsYPqAX8.mp4
37rzWOQsNIw.mp4  eQu1rNs0an0.mp4  JKpqYvAdIsw.mp4  WG0MBPpPC6I.mp4
3eYKfiOEJNs.mp4  -esJrBWj2d8.mp4  kLxoNp-UchI.mp4  WxtbjNsCQ8A.mp4
4wU_LUjG5Ic.mp4  EYqVtI9YWJA.mp4  LRw_obCPUt0.mp4  XkqCExn6_Us.mp4
91IHQYk1IQM.mp4  fWutDQy1nnY.mp4  NyBmCxDoHJU.mp4  xmEERLqJ2kU.mp4
98MoyGZKHXc.mp4  GsAD1KT1xo8.mp4  oDXZc0tZe04.mp4  _xMr-HKMfVA.mp4
akI8YFjEmUw.mp4  gzDbaEs1Rlg.mp4  PJrm840pAUI.mp4  xwqBXPGE9pQ.mp4
AwmHb44_ouw.mp4  Hl-__g2gn_A.mp4  qqR6AEXwxoQ.mp4  xxdtq8mxegs.mp4
b626MiF1ew4.mp4  HT5vyqe0Xaw.mp4  RBCABdttQmI.mp4  XzYM3PfTM4w.mp4
Bhxk-O1Y7Ho.mp4  i3wAGJaaktw.mp4  Se3oxnaPsz0.mp4  Yi4Ij2NM7U4.mp4
byxOvuiIJV0.mp4  iVt07TCkFM0.mp4  sTEELN-vY30.mp4  z_6gVvQb2d0.mp4
cjibtmSLxQ4.mp4  J0nA4VgnoCo.mp4  uGu_10sucQo.mp4
E11zDS9XGzg.mp4  jcoYJXDG9sw.mp4  vdmoEJ5YbrQ.mp4

In [43]:
!cp -r ../datasets/tvsum/ydata-tvsum50-v1_1/video/* ../datasets/videos/

In [46]:
!ls -lah ../datasets/videos/ | wc

     78     706    4685