In [1]:
import os
import glob
import re
import json

import pandas as pd

In [2]:
calc_files = set(map(lambda x: x[:-6], glob.glob("*.txt")))
print("Calculated files", len(calc_files))
calc_files

Calculated files 75

{'-esJrBWj2d8',
 '0tmA_C6XwfM',
 '37rzWOQsNIw',
 '3eYKfiOEJNs',
 '4wU_LUjG5Ic',
 '91IHQYk1IQM',
 '98MoyGZKHXc',
 'Air_Force_One',
 'AwmHb44_ouw',
 'Base_Jumping',
 'Bearpark_Climbing',
 'Bhxk-O1Y7Ho',
 'Bike_Polo',
 'Bus_In_Rock_Tunnel',
 'Car_Over_Camera',
 'Car_Railcrossing',
 'Cockpit_Landing',
 'Cooking',
 'E11zDS9XGzg',
 'EE-bNr36nyA',
 'EYqVtI9YWJA',
 'Eiffel_Tower',
 'Excavators_River_Crossing',
 'Fire_Domino',
 'GsAD1KT1xo8',
 'HT5vyqe0Xaw',
 'Hl-__g2gn_A',
 'J0nA4VgnoCo',
 'JKpqYvAdIsw',
 'JgHubY5Vw3Y',
 'Jumps',
 'Kids_Playing_In_Leaves',
 'LRw_obCPUt0',
 'Notre_Dame',
 'NyBmCxDoHJU',
 'PJrm840pAUI',
 'Paintball',
 'Paluma_Jump',
 'Playing_Ball',
 'Playing_On_Water_Slide',
 'RBCABdttQmI',
 'Saving_Dolphines',
 'Scuba',
 'Se3oxnaPsz0',
 'St_Maarten_Landing',
 'Statue_Of_Liberty',
 'Uncut_Evening_Flight',
 'Valparaiso_Downhill',
 'VuWGsYPqAX8',
 'WG0MBPpPC6I',
 'WxtbjNsCQ8A',
 'XkqCExn6_Us',
 'XzYM3PfTM4w',
 'Yi4Ij2NM7U4',
 '_xMr-HKMfVA',
 'akI8YFjEmUw',
 'b626MiF1ew4',
 'byxOvuiIJV0',
 'cjibtmSLxQ4',
 'eQu1rNs0an0',
 'fWutDQy1nnY',
 'gzDbaEs1Rlg',
 'i3wAGJaaktw',
 'iVt07TCkFM0',
 'jcoYJXDG9sw',
 'kLxoNp-UchI',
 'oDXZc0tZe04',
 'qqR6AEXwxoQ',
 'sTEELN-vY30',
 'uGu_10sucQo',
 'vdmoEJ5YbrQ',
 'xmEERLqJ2kU',
 'xwqBXPGE9pQ',
 'xxdtq8mxegs',
 'z_6gVvQb2d0'}

In [3]:
pattern = re.compile(r"{.+}")


rows = []
for filename in calc_files:
    batches = glob.glob("{}*".format(filename))
    for batch_file in batches:
        with open(batch_file) as f:
            last_line = f.readlines()[-1] 
            matches = pattern.findall(last_line)
            if len(matches) != 1:
                continue
            row = json.loads(matches[0])
            row['name'] = filename
        rows.append(row)
    
metrics_df = pd.DataFrame(rows)
metrics_df

,eval_metric_dummy,eval_metric_dummy_t_0.25,eval_metric_dummy_t_0.1,eval_metric_f1_canonical,name
0,0.259129,0.919375,1.000000,0.107897,GsAD1KT1xo8
1,0.250798,0.978903,1.000000,0.027319,GsAD1KT1xo8
2,0.259129,0.919375,1.000000,0.182048,GsAD1KT1xo8
3,0.447568,0.978903,1.000000,0.512626,GsAD1KT1xo8
4,0.125664,0.719855,0.718447,0.311983,GsAD1KT1xo8
...,...,...,...,...,...
342,0.123660,0.680414,1.000000,0.473700,xmEERLqJ2kU
343,0.354064,0.943144,1.000000,0.189600,xmEERLqJ2kU
344,0.459662,0.862183,1.000000,0.054321,xmEERLqJ2kU
345,0.331575,0.943144,1.000000,0.044744,xmEERLqJ2kU
346,0.000000,0.184049,1.000000,0.427933,JKpqYvAdIsw

In [4]:
metrics_df.groupby("name").mean()

,eval_metric_dummy,eval_metric_dummy_t_0.25,eval_metric_dummy_t_0.1,eval_metric_f1_canonical
name,,,,
-esJrBWj2d8,0.210333,0.783029,0.861674,0.208420
0tmA_C6XwfM,0.284225,0.870523,0.879649,0.185730
37rzWOQsNIw,0.246236,0.788485,1.000000,0.142041
3eYKfiOEJNs,0.303734,0.803499,1.000000,0.282258
4wU_LUjG5Ic,0.234871,0.811795,0.876889,0.102722
...,...,...,...,...
vdmoEJ5YbrQ,0.084180,0.395977,0.961450,0.329119
xmEERLqJ2kU,0.317240,0.857221,1.000000,0.190591
xwqBXPGE9pQ,0.329248,0.848056,0.970830,0.220485
xxdtq8mxegs,0.362625,0.820510,0.882199,0.166744
z_6gVvQb2d0,0.322598,0.890104,0.983606,0.367009

In [5]:
metrics_df.describe()

,eval_metric_dummy,eval_metric_dummy_t_0.25,eval_metric_dummy_t_0.1,eval_metric_f1_canonical
count,347.000000,347.000000,347.000000,347.000000
mean,0.202164,0.609927,0.819056,0.187646
std,0.145932,0.311575,0.212164,0.161309
min,0.000000,0.000000,0.015470,0.000000
25%,0.077179,0.319592,0.635655,0.053775
50%,0.200480,0.680414,0.938674,0.146750
75%,0.310393,0.907242,1.000000,0.299466
max,0.645253,1.000000,1.000000,0.730980

In [9]:
metrics_df.describe().rename(columns{
    "eval_metric_dummy": "f1_threshold_0.5",
    "eval_metric_dummy_t_0.25": "f1_threshold_0.25",
    "eval_metric_dummy_t_0.1": "f1_threshold_0.1",
    "eval_metric_f1_canonical": "f1_scaled"
})

       f1_threshold_0.5  f1_threshold_0.25  f1_threshold_0.1   f1_scaled
count        347.000000         347.000000        347.000000  347.000000
mean           0.202164           0.609927          0.819056    0.187646
std            0.145932           0.311575          0.212164    0.161309
min            0.000000           0.000000          0.015470    0.000000
25%            0.077179           0.319592          0.635655    0.053775
50%            0.200480           0.680414          0.938674    0.146750
75%            0.310393           0.907242          1.000000    0.299466
max            0.645253           1.000000          1.000000    0.730980